body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: small;
}

#nav-menus {
  display: flex;
  flex-direction: row;
  align-content: right;
  float: right;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  display: flex;
}

li {
  /* float: right; */
  display: inline-flex;
  color: black;
  display: flex;
}

a {
  /* display: block; */
  text-align: right;
  padding: 5px 5px;
  text-decoration: none;
}

section {
  display: flex;
  overflow: visible;
  max-width: none;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
  margin: 0 auto;
  width: 833px;
  background-color: none;
}

#google-logo {
  display: flex;
  height: 92;
  width: 272;
  padding-top: 109px;
}

#search-form {
  display: flex;
  flex-direction: column;
  widows: 410px;
  height: 44;
  padding: 18px;
  justify-items: center;
  align-items: center;
}

#search-box {
  display: flex;
  flex-direction: column;
  width: 410px;
  height: 70px;
  box-sizing: border-box;
  border: 1px solid #eaeef5;
  border-radius: 22px;
  flex: 1;
  padding: 10px 10px 10px 14px;
  background: #fff;
  margin: 0 auto;
  z-index: 3;
  font-size: 17px;
}

#search-box:hover {
  box-shadow: 0 1px 6px 0 rgba(99, 101, 109, 0.23);
  border-color: rgba(244, 245, 248, 0.952);
}

#button-1,
#button-2 {
  background-color: #f8f8f8;
  border: 1px solid #c6c6c6;
  color: #222;
  font-family: arial, sans-serif;
  font-size: 14px;
  margin: 11px 4px;
  padding: 0 16px;
  line-height: 2px;
  height: 36px;
  min-width: 54px;
  text-align: center;
  cursor: pointer;
  border-radius: 4px;
}

#button-1:hover {
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.25);
  background-color: #f8f8f8;
  color: #222;
}
#button-2:hover {
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.25);
  background-color: #f8f8f8;
  color: #222;
}
